/* global styles*/
body {
  font: {
    family: 'Open Sans', sans-serif;
    style: normal;
    weight: normal;
    size: 16px;
  }
  line-height: 22px;
  color: $body-text-color;
  min-width: 320px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scroll-color;
    border-radius: 100px;
  }
}

.container {
  width: min(98%, 1200px);
  margin: 0 auto;
}
