/* global styles*/
body {
  font: {
    family: 'Open Sans', sans-serif;
    style: normal;
    weight: normal;
    size: 16px;
  }
  line-height: 22px;
  color: $body-text-color;
  min-width: 320px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scroll-color;
    border-radius: 100px;
  }
}

button {
  transition: color 0.3s, border-color 0.3s;
}

.container {
  width: min(98%, 1200px);
  margin: 0 auto;
}

.button {
  display: flex;
  align-items: center;
  height: 50px;
  border: $border;
  border-radius: 25px;
}

.hidden {
  opacity: 0;
}

.loading {
  color: $hover-color;
  opacity: 1;
}

.error {
  color: $error-color;
  opacity: 1;
}
