$body-fill: #ffffff;
$body-text-color: #363636;
$main-title: #45852d;
$scroll-color: #45852d;

$card-fill: #f8f8f8;
$card-title: #363636;

$tag-fill-blue: #006f79;
$tag-fill-orange: #ec6608;
$tag-text: #ffffff;

$border: 1px solid #d8d8d8;
